@charset "UTF-8";

// colors
$black: #000;
$white: #fff;
$G-color-block: #000;
$G-color-white: #fff;

// image path
$G-path: '../';
$G-path-img: $G-path + 'img';

// fonts
$G-font-size: 12px;
$G-font-lineheight: 1.4;
$G-font-family: Apple SD Gothic Neo,helvetica,sans-serif;
